<!-- index.html -->
<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="storiesApp">
<head>
    <!-- META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

    <title>Stories</title>

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900' rel='stylesheet' type='text/css'>

    <!-- SPELLS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
		
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <script src="javascripts/tilepatterns.js"></script>
		<script src="javascripts/facebooklogin.js"></script>
		<script src="javascripts/core.js"></script>

</head>
<body ng-controller="mainController">

  <div class="top-line"></div>
	<div class="container-fluid">
			<div class="filter-bar">
				<div class="filter-title text-center"><img src="images/bookIconWhite.png" width="35" alt="stories" class="book-icon-small">Stories</div>
				<div class="filter-content">
					<div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-item">
                    <div class="sidebar-item-title-box">
	                    <a type="button" data-target="#collapse-years" href="#" data-toggle="collapse" aria-expanded="false">
	                    	<span class="glyphicon glyphicon-chevron-down"></span><img class="icon" src="images/years-icon.png">Years
	                    </a>
                    </div>
                    <ul class="sidebar-collapse-box collapse" role="menu" id="collapse-years">
												<li ng-repeat="year in years" role="presentation" ng-click="getStoriesForYear(year)" class="filter-{{ year.status }}">
													{{ year.name }}
												</li>
										</ul>
                </li>
                <li class="sidebar-item">
                	<div class="sidebar-item-title-box">
                		<a type="button" data-target="#collapse-update-type" href="#" data-toggle="collapse" aria-expanded="false">
                    	<span class="glyphicon glyphicon-chevron-down"></span><img class="icon" src="images/update-types-icon.png">Types
                    </a>
                	</div>
                    <ul class="sidebar-collapse-box collapse" role="menu" id="collapse-update-type">
											<li ng-click="filterPhotos(filters.photos.status)" class="filter-{{ filters.photos.status }}">
												<img class="icon" src="images/photos-icon.png"> {{ filters.photos.name }}
											</li>
											<li ng-click="filterStatusUpdates(filters.statusupdates.status)" class="filter-{{ filters.statusupdates.status }}">
												<img class="icon" src="images/status-updates-icon.png"> {{ filters.statusupdates.name }}
											</li>
											<li ng-click="filterWallPosts(filters.wallposts.status)" class="filter-{{ filters.wallposts.status }}">
												<img class="icon" src="images/wall-posts-icon.png"> {{ filters.wallposts.name }}
											</li>
											<li ng-click="filterLinks(filters.links.status)" class="filter-{{ filters.links.status }}">
												<img class="icon" src="images/link-icon.png"> {{ filters.links.name }}
											</li>
											<li ng-click="filterPhotoStories(filters.photostories.status)" class="filter-{{ filters.photostories.status }}">
												<img class="icon" src="images/photo-stories-icon.png"> {{ filters.photostories.name }}
											</li>
											<li ng-click="filterLocationTags(filters.locationtags.status)" class="filter-{{ filters.locationtags.status }}">
												<img class="icon" src="images/tagged-locations-icon.png"> {{ filters.locationtags.name }}
											</li>
									  </ul>
                </li>
                <li class="sidebar-item">
                    <div class="sidebar-item-title-box">
	                    <a type="button" data-target="#collapse-friends" href="#" data-toggle="collapse" aria-expanded="false">
	                    	<span class="glyphicon glyphicon-chevron-down"></span><img class="icon" src="images/friends-icon.png">People
	                    </a>
                    </div>
                    <ul class="sidebar-collapse-box collapse" role="menu" id="collapse-friends">
												<li ng-repeat="friend in friends" role="presentation" ng-click="filterFriendStories(friend)" class="filter-{{ friend.status }}">	
													<img src="{{ 'http://graph.facebook.com/v2.3/' + friend.id + '/picture' }}" class="friends-profile-pic">{{ friend.name }}
												</li>
										</ul>
                </li>
            </ul>
        	</div>
				</div>
			</div>

			<div class="content">
				<div class="user-info-box">
					<span ng-click="logoutMember()" class="_fblogoutbutton">{{ member.name }}<span class="glyphicon glyphicon-log-out"></span></span>
				</div>
				<div class="status text-center">
					<span class="filter-variable">{{ seeing.year }}</span>
					<p class="seeing-filters" ng-if="seeing.filters != ''">
							<span>{{ seeing.filters }}</span>
					</p>
					<div ng-if="seeing.friend">
						<button class="seeing-friend selected-friend-label">
						<a href="{{ seeing.friend.id | facebookUrl }}">
								<img ng-if="seeing.friend" src="{{ 'http://graph.facebook.com/v2.3/' + seeing.friend.id + '/picture' }}" class="friends-profile-pic-small">
								<span>{{ seeing.friend.name }}</span>
						</a>
						</button>
						<p class="fine-print">stories this person liked, commented, sent, or tagged</p>
					</div>

				</div>
				<div ng-if="visibleStories == 0" class="no-stories text-center">No Stories Matched Your Filters</div>
				<div class="stories-container text-center" ng-if="visibleStories > 0">
					<div class="btn-group filter-button">
					  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
					    Sort by <span class="caret"></span>
					  </button>
					  <ul class="dropdown-menu" role="menu">
					    <li><a href="#" ng-click="sortStoriesByDate()">date</a></li>
					    <li><a href="#" ng-click="sortStoriesByLikes()">likes</a></li>
					  </ul>
					</div>

					<div>
					    <div ng-repeat="story in stories">
					    	<div ng-if="story.display">

						    	<div ng-if="story.blocktype == 'text'">
					          <div class="_story-block light-text text-story-block text-center {{story.color}} {{story.size}}-block">
					          	<div class="extra-data">
						          		<a class="light-text story-date" target="_blank" href="{{ story.id | facebookUrl }}">{{ story.created_date_string }}</a>
						          		<div ng-if="story.link != null"><a href="{{story.link}}">{{ story.name }}</a></div>
							          	<div class="story-interactions">
							          		<a ng-if="story.likes != null" class="story-likes" href="{{ story.id | facebookUrl }}">{{ story.likes.data.length }} likes &nbsp; <span ng-if="story.comments != null">{{ story.comments.data.length }} comments</span></a>
							          	</div>
					          	</div>
					          	<a href="{{ story.from.id | facebookUrl }}" target="_blank">
					          		<img src="{{ 'http://graph.facebook.com/v2.3/' + story.from.id + '/picture' }}" alt="from" class="story-profile-pic">
					          		<img ng-if="story.picture != null" src="{{ story.picture }}" alt="from" class="story-profile-pic">
					          	</a>
					          	<div>
						          	<a class="story-from light-text" target="_blank" href="{{ story.from.id | facebookUrl }}">
					          			{{ story.from.name }}
					          		</a>
					          	</div>
					          	<div class="story-message">{{story.message}}</div>
					          </div>
				          </div>

				          <div ng-if="story.blocktype == 'photo' && story.display">
					          <div class="_story-block photo-story-block text-center {{story.size}}-block">

					    				<div class="extra-data">
												<a href="{{ story.id | facebookUrl }}" target="_blank">
													<img src="{{ 'http://graph.facebook.com/v2.3/' + story.from.id + '/picture' }}" class="story-profile-pic">
												</a>
					          		<a class="regular-text story-from" target="_blank" href="{{ story.from.id | facebookUrl }}">
					          			<span class="light-text">Tagged by </span>{{ story.from.name }}
					          		</a>
					          		<a class="light-text story-place" target="_blank" href="{{ story.place.id | facebookUrl }}" ng-if="story.place != null">
					          			{{ story.place.location.city }}, {{ story.place.location.country }}
					          		</a>
					          		<a class="light-text story-date" target="_blank" href="{{ story.link }}">{{ story.created_date_string }}</a>
					          		<a ng-if="story.likes != null" class="story-likes" href="{{ story.link }}">{{ story.likes.data.length }} likes</a> 
					          		<a ng-if="story.comments != null" class="story-comments" href="{{ story.link }}">{{ story.comments.data.length }} comments</a>
					          	</div>

					          	<img src="{{ story.imageUrl }}" alt="story" width="{{ story.imageWidth }}" height="{{ story.imageHeight }}">

					          </div>
				          </div>

								</div>
					    </div>
					</div>
				</div>
 			</div>
	</div>
<!-- 	<script type="text/javascript">
		$('ul.dropdown-menu li').click(function(e) {
	    e.stopPropagation();
		});
	</script>
 --></body>
</html>
