<!-- index.html -->
<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="storiesApp">
<head>
    <!-- META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

    <title>Stories</title>

    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900' rel='stylesheet' type='text/css'>
    <!-- SCROLLS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"><!-- load bootstrap -->
    <link rel="stylesheet" href="stylesheets/style.css"><!-- load bootstrap -->
    
    <!-- SPELLS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script><!-- load jquery -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular.min.js"></script><!-- load angular -->    
    <script src="http://cdnjs.cloudflare.com/ajax/libs/masonry/3.2.2/masonry.pkgd.min.js"></script>
    <script src="javascripts/tilepatterns.js"></script>
		<script src="javascripts/facebooklogin.js"></script>
		<script src="javascripts/facebookapi.js"></script>
		<script src="javascripts/core.js"></script>

</head>
<body ng-controller="mainController">

  <div class="top-line"></div>
	<div class="container-fluid">
			<div class="filter-bar">
				<div class="filter-title text-center"><img src="images/bookIconWhite.png" width="35" alt="stories" class="book-icon-small">Stories</div>
				<div class="filter-content">
					<div class="filter-subtitle">Update type</div>
					<ul>
						<li ng-click="filterPhotos(filters.photos.status)" class="filter-{{ filters.photos.status }}">{{ filters.photos.name }}</li>
						<li ng-click="filterStatusUpdates(filters.statusupdates.status)" class="filter-{{ filters.statusupdates.status }}">{{ filters.statusupdates.name }}</li>
						<li ng-click="filterWallPosts(filters.wallposts.status)" class="filter-{{ filters.wallposts.status }}">{{ filters.wallposts.name }}</li>
						<li ng-click="filterLinks(filters.links.status)" class="filter-{{ filters.links.status }}">{{ filters.links.name }}</li>
						<li ng-click="filterPhotoStories(filters.photostories.status)" class="filter-{{ filters.photostories.status }}">{{ filters.photostories.name }}</li>
						<li ng-click="filterLocationTags(filters.locationtags.status)" class="filter-{{ filters.locationtags.status }}">{{ filters.locationtags.name }}</li>
					</ul>
				</div>
				<div class="filter-content">
					<div class="filter-subtitle">Years</div>
					<ul ng-repeat="year in years">
							<li ng-click="getStoriesForYear(year)" class="filter-{{ year.status }}">{{ year.name }}</li>
					</ul>
				</div>

			</div>

			<div class="content">

				<button class="login-button _fbloginbutton" ng-click="getRecentStories()">Get Recent Stories</button>

				<div class="status text-center">
					Seeing 
					<span class="filter-variable">{{ seeing.type }}</span>
					at age 
					<span class="filter-variable">{{ seeing.age }}</span>
					in
					<span class="filter-variable">{{ seeing.location }}</span>
				</div>
				<div><button ng-click="sortStoriesByDate()">Sort by date</button></div>
				<div><button ng-click="sortStoriesByLikes()">Sort by likes</button></div>

				<div class="stories-container">
					<div masonry item-selector="._story-block">
					    <div ng-repeat="story in stories">
					    	<div ng-if="story.display">

						    	<div ng-if="story.blocktype == 'text'">
					          <div class="_story-block light-text text-story-block text-center {{story.color}} {{story.size}}-block">
					          	<div class="extra-data">
						          		<a class="light-text story-date" target="_blank" href="{{ story.id | facebookUrl }}">{{ story.created_date_string }}</a>
						          		<div ng-if="story.link != null"><a href="{{story.link}}">{{ story.name }}</a></div>
							          	<div class="story-interactions">
							          		<a ng-if="story.likes != null" class="story-likes" href="{{ story.id | facebookUrl }}">{{ story.likes.data.length }} likes &nbsp; <span ng-if="story.comments != null">{{ story.comments.data.length }} comments</span></a>
							          	</div>
					          	</div>
					          	<a href="{{ story.from.id | facebookUrl }}" target="_blank">
					          		<img src="{{ 'http://graph.facebook.com/v2.3/' + story.from.id + '/picture' }}" alt="from" class="story-profile-pic">
					          		<img ng-if="story.picture != null" src="{{ story.picture }}" alt="from" class="story-profile-pic">
					          	</a>
					          	<div>
						          	<a class="story-from light-text" target="_blank" href="{{ story.from.id | facebookUrl }}">
					          			{{ story.from.name }}
					          		</a>
					          	</div>
					          	<div class="story-message">{{story.message}}</div>
					          </div>
				          </div>

				          <div ng-if="story.blocktype == 'photo' && story.display">
					          <div class="_story-block photo-story-block text-center {{story.size}}-block">

					    				<div class="extra-data">
												<a href="{{ story.id | facebookUrl }}" target="_blank">
													<img src="{{ 'http://graph.facebook.com/v2.3/' + story.from.id + '/picture' }}" class="story-profile-pic">
												</a>
					          		<a class="regular-text story-from" target="_blank" href="{{ story.from.id | facebookUrl }}">
					          			<span class="light-text">Tagged by </span>{{ story.from.name }}
					          		</a>
					          		<a class="light-text story-place" target="_blank" href="{{ story.place.id | facebookUrl }}" ng-if="story.place != null">
					          			{{ story.place.location.city }}, {{ story.place.location.country }}
					          		</a>
					          		<a class="light-text story-date" target="_blank" href="{{ story.link }}">{{ story.created_date_string }}</a>
					          		<a ng-if="story.likes != null" class="story-likes" href="{{ story.link }}">{{ story.likes.data.length }} likes</a> 
					          		<a ng-if="story.comments != null" class="story-comments" href="{{ story.link }}">{{ story.comments.data.length }} comments</a>
					          	</div>

					          	<img src="{{ story.imageUrl }}" alt="story" width="{{ story.imageWidth }}" height="{{ story.imageHeight }}">

					          </div>
				          </div>

								</div>
					    </div>
					</div>
				</div>
 			</div>
	</div>
</body>
</html>
